.post {
	background-color: lightgrey;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.post_form {
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
}

.channel-list {
	margin-left: 20px;
}