{% extends 'channels/base.html' %}
{% load bootstrap3 %}

{% block title %}
	<h2>{{ user.username}} : {{ channel.name }}</h2>
{% endblock %}

{% block content %}
	{% for post in post_list %}
		<div class="row post">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-6">
						<h4>{{ post.user.username }}</h3>
					</div>
					<div class="col-sm-6 text-right">
						{{ post.creation_date|date:"D d M Y" }} 
						{{ post.creation_date|time:"H:i" }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">{{ post.post_text }}</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
